header{
  background-color: #232b2b;
  padding: 0;
  margin: 0;
  height: 100vh;
  text-align: center;
}

body{
padding: 0;
margin: 0;
}

.navbar{
  overflow: hidden;
  background-color:	#353839;
}

.navbar a {
  float: left;
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  text-decoration= none;
}

.navbar a: hover{
  color: white;
  background-color:	#414a4c;
}
