body{
 margin:0;
}

.header{
  padding:20px;
  text-align: center;
  background-color: #3b444b;
}

.navbar{
  overflow: hidden;
  background-color: #414a4c;
}

.navbar a{
  text-align: center;
  color: white;
  display:block;
  padding: 10px 16px;
  text-decoration: none;
  float: left;
}

.navbar a:hover{
  background-color:#353839;
  color:black;
}
