.header{
  background-color: #232b2b;
  padding: 20px;
  text-align: center;
}

.topnav{
  overflow: hidden;
  background-color:	#353839;
}

.topnav a {
  float: left;
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
}

.topnav a: hover{
  color: white;
  background-color:	#414a4c;
}
